@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');


:root{
   --dark: #3d3b3b;
   --light: #646464;
   --border: #d0d2d3c4;
   --border-btn: #edf2f4;
}

body{
   background-color: #f7f8fa;
   background-image: linear-gradient(315deg, #feffff 0%, #fcfafaee 50%);
}

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

a{
   text-decoration: none;
   font-family: 'Source Sans Pro', sans-serif;
   color: #3068c7;
}


.container{
   max-width: 1024px;
   margin: auto;
   
}


.nav-brand{
   font-size: 1.5em;
   font-weight: bold;
}

.d-flex{
   display: flex;
   flex-wrap: wrap;
}

.justify-between{
   justify-content: space-between;
}

.text-center{
   text-align: center;
}

.border-shadow{
   border: 1.5px solid var(--border-btn);
   border-radius: 7.5px;
   box-shadow:
  1.4px 1.3px 11.3px rgba(0, 0, 0, 0.008),
  3.3px 3.2px 27.1px rgba(0, 0, 0, 0.012),
  6.3px 6px 51.1px rgba(0, 0, 0, 0.015),
  11.2px 10.7px 91.1px rgba(0, 0, 0, 0.018),
  20.9px 20.1px 170.5px rgba(0, 0, 0, 0.022),
  50px 48px 408px rgba(0, 0, 0, 0.03);
}

.text-dark{
   color: var(--dark)
}

div div .text-dark{
   color: #282727;
}


.inline{
   display: inline-block;
}

.text-light{
   color:var(--light)
}

.text-gradient{
   color: #3068c7;
}


#header nav {
   background-color: #8fd7f9d6;
   padding: 1em 0;
   width: 100%;
}


#site-main{
   margin-top: 6em;
   font-family: 'Source Sans Pro', sans-serif;
}

#site-main .container .box-nav > a{
   font-size: 1em;
   padding: .5em 1em;
}


#site-main .container form{
   margin: 2em 0;
}

table{
   border-spacing: 0px;
   width: 100%;
}

.table td, .table th{
   padding: .75em;
   vertical-align: top;
   text-align: center;
   border-top: 1px solid var(--border);
}


.table td > a.btn{
   padding: .3em 1em;
   font-size: 1.1em;
   margin: 0 .2em;
}

.table tr:hover{
   background-color: #8fd7f977;
}

.table tr:hover td>a{
   box-shadow: none;
}


.table .thead-dark th{
   color: #fff;
   background-color: var(--dark);
   border-color: #32383e;
}


@media only screen and (max-width: 1024px){
   table, thead, tbody, th, td, tr{
      display:block;
   }

   thead tr{
      position: absolute;
      top: -9999px;
      left: -9999px;
   }

   tr{
      border: 1px solid var(--border);
   }

   td{
      border: none;
      border-bottom: 1px solid var(--border);
      position: relative;
   }
}







/* add and update user forms */

.form-title{
   margin-top: 2em;
}

.form-title > h2{
   padding: .5em 0;
}

.new_user{
   max-width: 786px;
   margin: auto;
}


#update_user .form-group,
#add_user .form-group{
   margin: .4em 0;
}

#update_user .form-group input[type="text"],
#add_user .form-group input[type="text"]{
   width: 100%;
   padding: .6em 1em;
   margin: .5em 0;
   border: 1px solid var(--border);
   font-family: "Source Sans Pro", sans-serif;
   font-size: 1em;
   border-radius: 7.5px;
}

#update_user .form-group .radio,
#add_user .form-group .radio{
   margin: 1em 2em;
}



/* adding style to radio buttons */

.radio input[type="radio"]{
   position: absolute;
   opacity: 0;
}


.radio input[type="radio"] + .radio-label:before{
   content: "";
   background: var(--border-btn);
   border-radius: 100%;
   border: 1px solid var(--border);
   display: block;
   width: 1em;
   height: 1em;
   position: relative;
   top: -0em;
   margin-right: .5em;
   vertical-align: top;
   cursor: pointer;
   text-align: center;
   -webkit-transition: all 250ms ease;
   transition: all 250ms ease;
}

.radio input[type="radio"]:checked + .radio-label:before{
   background-color: #9cddfc;
   box-shadow: inset 0 0 0 4px #f7f5f5;
}

.radio input[type="radio"]:focus + .radio-label:before{
   outline: none;
   border-color: #9cddfc;
}

.radio input[type="radio"]:disabled + .radio-label:before{
   box-shadow: inset 0 0 0 4px #ebeaea;
   border-color: #b4b4b4;
   background: #dddbdb;
}


#update_user .form-group .btn,
#add_user .form-group .btn{
   width: 100%;
   padding: .9em 1em;
   background-color: #9cddfc;
   border: none;
   font-family: "Source Sans Pro", sans-serif;
   font-size: 1em;
   cursor: pointer;
   border-radius: 7.5px;
   margin: .5em 0;
}  


#update_user .form-group .btn:hover,
#add_user .form-group .btn:hover{
   background-color: #3d3b3b;
   color: #f4f5f5;
}